@color-8: #888;
@color-2: #222;
@color-b: #bbb;

.HomePage {
  font-family: 'PingFang SC';
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  .home-content {
    overflow: scroll;
    padding-bottom: 60px;
  }
  .GoodsCategoryPlane {
    background-color: white;
    padding-top: 15px;
    .GoodsCategoryPlaneItem {
      text-align: center;
      border-radius: 4px;
      background-clip: padding-box;
      .GoodsCategoryPlaneItem-img {
        height: 54px;
        width: 54px;
      }
      .GoodsCategoryPlaneItem-name {
        color: #222222;
        font-size: 12px;
        margin-bottom: 2px;
        margin-top: 16px;
      }
    }
  }
  .GoodsPadding-line {
    background: #f4f4f4;
    width: 100%;
    height: 7px;
  }
  .GoodsPadding-line2 {
    background: #f4f4f4;
    width: 100%;
    height: 10px;
  }
  .popular-goods {
    padding-left: 15px;
    padding-right: 15px;
    .goods-header {
      color: #000000;
      padding-left: 7.5px;
      font-size: 20px;
    }
    .goods-list {
      width: 100%;
      .clearfix();
      .goods-item {
        width: 33.3333%;
        float: left;
        text-align: center;
        margin-top: 5px;
        .item-img {
          width: 100%;
          height: 100%;
          max-width: 100px;
          max-height: 100px;
        }
        .item-desc {
          display: block;
          margin: auto;
          text-align: left;
          width: 105px;
          height: 38px;
          opacity: 0.8;
          font-size: 13px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
        .item-price {
          display: block;
          margin: auto;
          font-size: 13px;
          color: #000000;
          letter-spacing: 0;
          width: 105px;
          height: 30px;
          line-height: 30px;
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }
      }
    }
  }
  .GoodsSection {
    padding-left: 15px;
    padding-right: 15px;
    .GoodsSection-ban-img {
      width: 100%;
    }
  }
  .fs-loading {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
    span {
      font-size: 12px;
      color: #000000;
    }
  }
  // 新的样式   GoodsCategory
  .content-wrapper {
    .list-items {
      display: inline-block;
      box-sizing: border-box;
      width: 50%;
      padding: 10px;
      text-align: center;
      img {
        width: 95%;
      }
      .items-title {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        font-weight: 200;
      }
      .items-price {
        display: block;
        font-size: 15px;
        font-weight: 700;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
      }
      .bg-orange {
        display: inline-block;
        padding: 0 5px;
        line-height: 16px;
        font-size: 12px;
        background: @orange;
      }
    }
  }

  .rent_progress {
    background-color: white;
    &:after {
      border-bottom: 1px solid #eee;
    }
    img {
      width: 100%;
      display: block;
    }
  }
  .vux-swiper {
    .fs-swiper-img {
      img {
        width: 100%;
      }
    }
  }

  .vux-slider > .vux-indicator > a > .vux-icon-dot,
  .vux-slider .vux-indicator-right > a > .vux-icon-dot {
    width: 5px !important;
    height: 5px !important;
    border-radius: 1.5px !important;
    background: #262628 !important;
    opacity: 0.4 !important;
  }
  .vux-slider > .vux-indicator > a > .vux-icon-dot.active,
  .vux-slider .vux-indicator-right > a > .vux-icon-dot.active {
    width: 17px !important;
    height: 5px !important;
    border-radius: 1.5px !important;
    opacity: 1 !important;
    background-color: #FADB14;
  }

  .vux-tab-warp {
    padding-top: 15px;
    box-shadow: none !important;
  }
  /deep/ .vux-tab-container {
    height: 83px;
    position: relative;
    .vux-tab {
      height: 83px;
    }
  }
  .scrollable,
  .vux-tab {
    height: 76px;
  }
  .scrollable .vux-tab-item,
  .vux-tab .vux-tab-item {
    line-height: 0;
    background: #fff;
  }
  .vux-tab-ink-bar {
    display: none !important;
  }

  .activity-div {
    background-color: white;
    img {
      width: 100%;
      display: block;
    }
  }

  .hot-div {
    .header {
      font-size: 18px;
      color: #222;
      font-weight: bold;
      height: 48px;
      line-height: 48px;
      text-align: center;
      background-color: white;
      margin-top: 10px;
      .hot-span {
        display: inline-block;
        margin-right: 6px;
        background-image: url('./img/hot.png');
        background-repeat: no-repeat;
        background-size: 98%;
        background-position: center;
        width: 18px;
        height: 18px;
        position: relative;
        top: 3px;
      }
    }
    .item-row {
      display: flex;
      margin-bottom: 10px;
      background-color: white;
      align-items: center;
      .item-col {
        flex: 0 0 50%;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .product-img {
      width: 100%;
      display: block;
    }
    .product-div {
      padding-right: 15px;
    }
    .product-name {
      margin-bottom: 6px;
      font-size: 16px;
      color: #222;
      font-weight: bold;
    }
    .product-second-name {
      font-size: 12px;
      color: #888;
      margin-bottom: 6px;
    }
    .product-price {
      font-size: 16px;
      color: #f5222d;
      font-weight: bold;
    }
    .product-mark {
      font-size: 10px;
      color: #888;
    }
  }
  .recommend-div {
    .header {
      padding: 20px 10px 10px 10px;
      font-size: 18px;
      color: #222;
      font-weight: bold;
      .more {
        font-size: 14px;
        color: #888;
        float: right;
        font-weight: normal;
        .right {
          height: 15px;
          position: relative;
          top: 3px;
        }
      }
    }
    .item-row {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      padding: 0 2%;
      .item-col {
        flex: 0 0 49%;
        background-color: white;
        margin-right: 2%;
        margin-bottom: 2%;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
    .product-img {
      img {
        width: 100%;
        display: block;
      }
    }
    .product-info {
      padding: 5px 10px 13px 10px;
    }
    .product-name {
      font-size: 16px;
      color: #222;
      font-weight: bold;
    }
    .product-second-name {
      font-size: 10px;
      color: #888;
    }
    .product-price {
      font-size: 16px;
      color: #f5222d;
      font-weight: bold;
    }
    .product-mark {
      font-size: 10px;
      color: #888;
    }
  }
  .content-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .activity-goods {
    .img-only {
      width: 100%;
      display: block;
    }
    .header {
      padding: 15px;
      font-size: 20px;
      color: @color-2;
      line-height: 28px;
      font-weight: 600;
    }
    .desc {
      float: right;
      color: @color-8;
      font-size: 14px;
      line-height: 28px;
      font-weight: normal;
    }
    .content {
      overflow: hidden;
      padding: 0 10px 15px 15px;
    }
    .recommend {
      margin-bottom: -5px;
    }
    .content-wrap {
      overflow: scroll;
      display: flex;
      .content-item {
        width: 140px;
        margin-right: 15px;
        padding-bottom: 15px;
        .item-img {
          display: block;
          position: relative;
        }
        .item-title {
          font-size: 14px;
          line-height: 20px;
          color: @color-2;
          margin-top: 10px;
        }
        .item-desc {
          font-size: 12px;
          line-height: 17px;
          color: @color-8;
          margin-top: 2px;
        }
      }
      .recommend-item {
        font-size: 0;
        display: flex;
        padding-bottom: 8px;
        img {
          width: 140px;
          height: 105px;
          margin-right: 10px;
        }
      }
    }
  }
  .item-price {
    height: 22px;
  }
  .price-block {
    color: @color-8;
    font-size: 10px;
    display: inline-block;
  }
  .new-price {
    line-height: 22px;
  }
  .old-price {
    text-decoration: line-through;
    font-size: 12px;
    line-height: 22px;
    color: @color-b;
  }
  .recommend-content {
    padding: 0 4%;
    display: flex;
    flex-wrap: wrap;
    .recommend-banner {
      padding-bottom: 15px;
      box-sizing: border-box;
      width: 100%;
      img {
        display: block;
        height: 120px;
        width: inherit;
      }
    }
    .recomend-row-list {
      display: flex;
      flex-wrap: wrap;
    }
    .recommend-row {
      flex: 0 0 48%;
      margin: 0 4% 4% 0;
      &:nth-child(even) {
        margin-right: 0;
      }
      .item-img {
        font-size: 0;
        position: relative;
        border-radius: 4px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 4px;
        }
      }
      .item-title {
        font-size: 14px;
        color: @color-2;
        line-height: 20px;
        margin: 5px 0 2px 0;
      }
    }
  }
  .entrance {
    padding: 15px;
    display: flex;
    img {
      display: block;
    }
    .left {
      width: 43%;
      height: 190px;
      margin-right: 5px;
    }
    .right {
      font-size: 0;
      .item {
        width: 100%;
        height: 93px;
      }
    }
  }
  .slogan {
    text-align: center;
    color: #bbb;
    font-size: 12px;
    line-height: 17px;
    margin: 15px auto;
  }
  .color-red {
    color: #f5222d;
  }
  .fz16 {
    font-size: 16px;
  }
  .list-label {
    display: inline-block;
    text-align: center;
    padding: 0 5px;
    position: absolute;
    background-color: #ff3333;
    color: #fff;
    font-size: 10px;
    line-height: 18px;
  }
  .LEFT-UP {
    top: 10px;
    left: 0;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
  }

  .LEFT-DOWN {
    bottom: 10px;
    left: 0;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
  }

  .RIGHT-UP {
    right: 0;
    top: 10px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
  }

  .RIGHT-DOWN {
    right: 0;
    bottom: 10px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
  }
}
